// About Page

.about-section {
    padding: 5px 25px 100px 25px;

    p {
        text-align: center;
    }

    h2 {
        text-align: center;
        padding: 20px 0px 20px 0px;
    }

    h3 {
        text-align: center;
        padding: 80px 0px 5px 0px;
    }

    div {
        text-align: center;
        margin: 100px 0px 0px 0px;
    }
    img {
        height: auto;
        width: 75px;
    }
}
