/* Actor.js */
.rmdb-actor {
  box-sizing: border-box;
}

.rmdb-actor img {
  width: 40%;
  height: auto;
  float: left;
  box-sizing: border-box;
}

.rmdb-actor-name {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  color: #fff;
  float: left;
  margin: 10px 20px;
  width: 40%;
  box-sizing: border-box;
  text-transform: uppercase;
}

.rmdb-actor-character {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #fff;
  float: left;
  margin: 0 20px 10px 20px;
  width: 40%;
  box-sizing: border-box;
}

.rmdb-grid h1 {
  font-family: "Roboto", sans-serif;
  color: $green;
  font-weight: 400;
  text-transform: uppercase;
  margin: 5px 0px;
  padding: 0px 0px 25px 0px;
}
