// Nav
// Logo for Sidemenu
.side-home-logo,
.side-favourites-logo,
.side-about-logo img {
    width: 40px;
    //margin-right: 10px;
}

/* Navigation Names */
.side-home-name,
.side-favourites-name,
.side-about-name {
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: bold;
}

/* Grids for Each Row */
.side-home-button {
    margin-left: 0;
    display: flex;
    justify-content: space-between;
}

.side-home-name {
    margin-top: 5px;
}
.side-favourites-button {
    display: flex;
    justify-content: space-between;
    /*
    display: grid;
    grid-template-areas: "favourites favourites-name";
    justify-content: space-between;
    margin-top: 25px;
    */
}
.side-favourites-name {
    margin-top: 5px;
}
.side-about-button {
    display: flex;
    justify-content: space-between;
    /*
    display: grid;
    grid-template-areas: "about about-name";
    justify-content: space-between;
    margin-top: 25px;
    */
}
.side-about-name {
    margin-top: 5px;
}

.side-nav__container {
    background-color: $darkTeal;
}

.nav-bar-logo {
    position: absolute;
    right: 20px;
}

.nav-bar-logo img {
    width: 250px;
}

.nav {
    width: 50%;
}