/* NowPlaying.js */
.now-playing {
  margin-bottom: 100px;
}

.now-playing-grid {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.grid h1 {
  font-family: "Roboto", sans-serif;
  color: $green;
  padding-top: 20px;
  text-transform: uppercase;
}

// Styling for the different movie forms
.header-form-select {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  margin-top: 30px;
  padding-left: 200px;
  padding-right: 200px;
  text-transform: uppercase;
}

.vertical-form {
  border-left: 2.5px solid $green;
}

.form-upcoming p {
  color: $green;
  font-family: $boldFont;
  font-size: 1.1em;
  font-weight: 600;
}
.form-popular p {
  color: $green;
  font-family: $boldFont;
  font-size: 1.1em;
  font-weight: 600;
}
.form-top-rated p {
  color: $green;
  font-family: $boldFont;
  font-size: 1.1em;
  font-weight: 600;
}
